html, body 
{
    width:100%;
    height:100%;
}
.head 
{
    background: #507299;
    width:100%;
    height:42px;
    display: -webkit-flex;
    display: flex;
}

.head-items
{
    -webkit-flex-grow: 3; 
    flex-grow: 3;
}

.logo 
{
    color: #fff;
    font-size: 14pt;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
}

.profile 
{
    text-align: right;
}

.profile img
{
    height: 36px;
    margin: 2px 10px 2px 10px;
}

.main 
{
    width:100%;
    height:calc(100% - 42px);
    background: #F7F7F7;
}
.leftColumn
{
    min-width: 300px;
    width:calc(25% - 1px);
    height:100%;
    float:left;
    border-right: solid 1px #e4e6e9;
}
.rightColumn 
{
    width: 75%;
    height:100%;
    float:left;
}
.addNote 
{
    float:right;
    margin:24px;
    cursor: pointer;
}

.notes
{
    width:100%;
    height:calc(100% - 144px);
    clear:both;
    overflow-y: scroll;
}

.note 
{
    width:100%;
    height:120px;
    background: #FFF;
    border-bottom: 1px solid #f8f8f8;
}

.note:hover 
{
    background: #fafbfc;
    cursor: pointer;
}

.noteTitle
{
    font-size: 12pt;
    color: #676666;
    padding:10px;
    text-overflow: ellipsis;
}
.shortDescription    
{
    padding:10px;
    font-size:10pt;
    overflow: hidden;
}


textarea.currentNoteDescritption
{
    width:100%;
    height:calc( 100% - 115px );
    border:none;
    box-sizing:border-box;
    padding:25px;
    outline:none;
    resize: none;
}

#images-box 
{
    width:100%;
    height:50px;
    text-align: center;
    padding: 10px;
    position:relative   ;
}
#images-box .dz-default
{
    position:absolute;
    width: calc( 100% - 10px );
    height: calc( 100% - 10px );
}
#images-box .dz-default span
{
    width:100%;
}

.dz-preview
{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
.currentNoteHead 
{
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    background-color:#edeef0;
}

.currentNoteTitle
{
    float:left;
}

.currentTools 
{
    float:left;
    margin: 0 10px;
}

.currentNoteDate 
{
    float:right;
}

.leftColumn h1
{
    float:left;
}

#getContent
{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

.tages 
{
    clear:both;
}
.tag-editor
{
    margin-top: 20px;
    border: 1px solid #eee;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu
{
    float:right;
}

ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    color: white;
    text-decoration: none;
}
ul.menu > li > a:hover {
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    background-color: white;
    border: 1px solid #507299;
    border-top: 2px solid #507299;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #507299;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}

/* search form */

.search 
{
  width: 100%;
  position: relative;
  margin-bottom:0px;
}

.searchTerm 
{
    outline: none;
    border: none;
    padding: 5px;
    width: calc( 100% - 32px );
    height:32px;
    box-sizing: border-box;
}

.searchButton 
{
    float: right;
    width: 32px;
    height: 32px;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

footer
{
    height:32px;
    width:100%;
}

#reverse img
{
    width: 20px;
    height: 20px;
    float: right;
    margin: 6px;
}

#count
{
    float:left;
    padding:8px;
}

.saveNote img
{
    width: 16px;
    height: 16px;
}